.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  overflow: hidden;
  background: rgb(12, 11, 11);
  overflow: hidden;
  /* background: rgba(138, 210, 237, 0.25) */
}

.col {
  flex: 1;
  min-width: 500px;
  margin: 20px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.col > .header {
  display: flex;
  justify-content: center;
}

.col img {
  height: 25px;
  margin-right: 5px
}

.col h1 {
  color: rgba(100, 100, 100, 0.5);
  font-size: 1rem;
  text-align: start
}


.tasks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task {
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  width: 75%;
  /* height: 50px; */
  border-radius: 5px;
  margin-bottom: 10px;
  background:rgba(155, 151, 151, 0.25);
  padding: 20px
}

.task-name {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold
}

.delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 3
}

.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1
}

.add-task-btn {
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .col {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0
  }
}